SlotVisualElement {
    width: 90px;
    height: 90px;
}

.slotDescription {
    position: absolute;
    right: 0;
    bottom: 0;
}

.slotIcon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.slotBackground {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.slotDeeperBackground {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.slotBorder {
}
